
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
}

button {
    padding: 10px 15px;
    border-radius: 10px;
    border: 0px;
    font-weight: bolder;
    color: white;
    background: #057a97;
}

header {
    height: calc(100vh - 100px);
    background: no-repeat center / cover url("imagens/imagem-header3.jpg") 
}

header nav {
    display: flex;
    justify-content: space-between;
    margin: auto 30px;
}

header nav p {
    font-weight: bold;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin: 0px 15px;
}

.header-content {
    max-width: 500px;
    margin: 120px auto;
    text-align: center;
}

.header-content h1 {
    margin-bottom: 5px;
    font-size: 3rem;
}

.pacotes {
    background-color: chartreuse;
    height: 500px;
}

/* RESPONSIVIDADE em imagens - sempre comçar do maior formato para o menor*/

/* tamanho de tablet */
@media (max-width: 760px) {
    header {
        background-color: aqua;
    }
}

/* tamanho de celular */
@media (max-width: 480px) {
    body {
        height: calc(100vh- 55px);
    }

    header nav ul{
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        padding: 0px;
        margin: 0px;

        background: #057a97;
        color: white;
        font-weight: bold;
        height: 55px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header nav p {
        width: 100%;
        text-align: center;
    }
}

