
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;500;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Hind Siliguri', sans-serif;
    /* font-family: 'Montserrat', sans-serif;  - fonte reserva   */
    width: 100vw;
}

ul {
    list-style: none;
}

button {
    padding: 10px 15px;
    border-radius: 10px;
    border: 0px;
    font-weight: 600;
    color: white;
    background: #057a97;
}

header {
    height: 100vh;   /*  height: calc(100vh - 100px);  */
    background: no-repeat center / cover url("imagens/imagem-header3.jpg");
    font-size: 1.1rem;
    font-weight: bold;
}

header nav {
    display: flex;
    justify-content: space-between;
    margin: auto 30px;
}

header nav p {
    font-weight: 500;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin: 0px 15px;
}

.header-content {
    max-width: 500px;
    margin: 120px auto;
    text-align: center;
}

.header-content h1 {
    margin-bottom: 5px;
    font-size: 4rem;
}

.pacotes {
    background-color: #18216faf;
    padding: 15px;
}

.pacotes .pacotes-cards {
    display: flex;
    margin: auto;
    max-width: 1050px;
    flex-wrap: wrap;
    justify-content: center;
}

.pacotes .pacotes-title {
    width: 100%;
    text-align: center;
    margin: 25px 0;
}

.pacotes .card {
    width: 300px;
    height: 450px;
    background: #E2D4B7;
    border-radius: 20px 0px;
    position: relative;
    margin: 25px;
}

.pacotes .card-image {
    width: 300px;
    height: 250px;
    border-radius: 20px 0 0 0;
    margin: auto;
    object-fit: cover;
}

.pacotes .card-content {
    padding: 0px 10px;
}

.pacotes .card-content ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0px;
}

.pacotes .card-content ul li {
    font-size: .8rem;
    display: flex;
    align-items: center;
    padding: 5px;
    color: grey;
    font-weight: bold;
}

.pacotes .card-content ul li svg {
width: 18px;
height: 18px;
margin-right: 10px;
}

.pacotes .card .card-tag-top {
    position: absolute;
    right: 0;
    background: rgb(226, 92, 14);
    border-radius: 8px 0 0 8px;
    padding: 5px 10px;
    margin-top: 15px;
}

.pacotes .card .card-tag-bottom {
    position: absolute;
    left: 0;
    background: rgb(226, 92, 14);
    border-radius: 0 8px 8px 0;
    padding: 5px 10px;
    margin-top: 200px;
}

.pacotes .card .card-tag p {
    margin: 0px;
    color: white;
}

.servicos {
    padding: 15px;
}

.servicos .servicos-title {
    text-align: center;
    margin: 35px 0;
}

.servicos .servicos-cards{
    display: flex;
    max-width: 950px;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
}

.servicos .card {
    width: 250px;
    display: flex;
    flex-direction: column;     /* usando flex-direction: column; , os justify-content:  e o alig-items são invertidos. Com o cuidando justify-content; cuidando o alinhado vertical e o alig-items o dá horizontal  */
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.servicos .card svg {
    width: 50px;
    height: 50px;
    margin-bottom: 40px;
    transition: all 0.5s;
}

.servicos .card svg:hover {
    stroke: rgb(226, 92, 14);
    transform: scale(1.4);
}

.servicos .card h3 {
    font-weight: bolder;
}

.servicos .card p {
    color: grey;
    font-size: .9rem;
    text-align: center;
}

.servicos .card .card-content {
    height: 270px;
    text-align: center;
}

/*configuração do estilo do maps do google que inserimos na seção contato  */
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }

.contato {
    padding: 60px;
    background: #E2D4B7;
    position: relative;
}

.contato .contato-card {
    width: 350px;
    height: 300px;
    background: white;
    position: absolute;
    z-index: 99;

    top: calc(50% - 150px);
    left: calc(20% - 175px);

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contato .contato-card h1 {
    padding-left: 50px;
    text-align: left;
}

.contato .contato-card li {
    font-size: .8rem;
    font-weight: bold;
    color: grey;

    display: flex;
    align-items: center;

    text-align: center;
}

.contato .contato-card li svg {
    width: 16px;
    margin: 15px;
}

.contato .contato-card {
    position: central;
    margin: 40px 0;
}


/*   .pacotes .card-content h1 {
    font-size: 1rem;
}     */

/* RESPONSIVIDADE em imagens - sempre comçar do maior formato para o menor*/
/* Tamanho espacial para mapas */
@media (max-width: 950px) {
    .contato {
        padding: 60px 0;
    }  

    .contato .contato-card {
        left: 40px;
    }
}

/*tamanho já diminuindo */
@media (max-width: 800px) {
    .contato {
        padding: 20px 0;
    }

    .contato .contato-card {
        position: static;
        margin: 40px auto;
    }
}


/* tamanho de tablet */
@media (max-width: 760px) {
    header {
        background-color: aqua;
    }
}

/* tamanho de celular */
@media (max-width: 480px) {
    body {
        margin-bottom: 55px;
    }

    header nav ul{
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        padding: 0px;
        margin: 0px;

        z-index: 99;

        background: #057a97;
        color: white;
        font-weight: bold;
        height: 55px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header nav p {
        width: 100%;
        text-align: center;
    }

}

